<!-- app/views/users/edit.html.erb -->
<div class=" form container w-75">
  <h1>Customize Your Profile</h1>

  <%= simple_form_for @user do |f| %>
    <%= f.input :about_me, as: :text %>
    <%= f.input :contact_info %>
    <%= f.input :github_url %>
    <%= f.input :linkedin_url %>
    <%= f.input :twitter_url %>
    <%= f.input :portfolio_url %>
    <%= f.input :location %>
    <%= f.input :education %>
    <%= f.input :expertise %>
    <%= f.input :work_experience, as: :text %>
    <%= f.input :hobbies %>

    <%= f.button :submit, "Update Your Profile" %>
  <% end %>
</div>
