<div class="container">
  <div class="welcome">
    <h2> Welcome! <%= @user.first_name.capitalize %> </h2>
  <%= link_to "Update Your Profile", edit_user_path(@user), class: "btn btn-primary m-4 rounded-4 text-center" %>
  </div>
  <div class="profile-card container w-75 my-4 ">
    <div class="profile">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, class: "user-img" %>
      <% else %>
        <%= image_tag "avatar.svg", class:"user-img" %>
      <% end %>
      <div class="user-info">
        <h3><%= @user.first_name.capitalize %>  <%= @user.last_name.capitalize  %></h3>
     <% if @user.location.present? %>
      <p class="user-location"><%= @user.location %></p>
    <% end %>
      </div>
    </div>
    <div class="profile-info">

    <div class="about-user">
      <h4>About me</h4>
      <% if @user.about_me.present? %>
      <p><%= @user.about_me %></p>
    <% end %>
    </div>
    <div class="work-exp-user">
      <h4>Work Experience</h4>
      <% if @user.work_experience.present? %>
        <p><%= @user.work_experience %></p>
      <% end %>
    </div>
    <div class="edu-user">
      <h4>Education</h4>
      <% if @user.education.present? %>
        <p><% (@user.education || '').split(",") do |edu| %>
              <li class="edu-user"><%= edu.strip %></li>
            <% end %></p>
      <% end %>
    </div>
    <div class="skills-user">
      <h4>Skills</h4>
      <% if @user.expertise.present? %>
        <p><% (@user.expertise || '').split(/[., ;]/).select{|skill| skill != ""}.each do |skill| %>
              <span class="pill skills"><%= skill.strip %></span>
            <% end %></p>
      <% end %>
    </div>
    <div class="hobbies-user">
      <h4>Hobbies</h4>
      <% if @user.hobbies.present? %>
        <p>
          <% (@user.hobbies || '').split(/[., ;]/).select{|skill| skill != ""}.each do |skill| %>
                <span class="pill skills"><%= skill.strip %></span>
          <% end %>
        </p>
      <% end %>
    </div>

    <div class="social">
      <h4>Social</h4>
      <div class="social-links">
      <div class="social-icon">
         <% if @user.portfolio_url.present? %>
        <%= link_to (@user.portfolio_url.starts_with?("http") ? @user.portfolio_url : "https://#{@user.portfolio_url}"), target: "_blank", rel: "noopener" do %>
            <i class="fa-solid fa-globe"></i>
            <p>Portffolio</p>
          <% end %>
        <% end %>
      </div>
      <div class="social-icon">
        <% if @user.github_url.present? %>
          <%= link_to (@user.github_url.starts_with?("http") ? @user.github_url : "https://#{@user.github_url}"), target: "_blank", rel: "noopener" do %>
            <i class="fa-brands fa-github"></i>
            <p>Github</p>
          <% end %>
        <% end %>
      </div>
      <div class="social-icon">
         <% if @user.linkedin_url.present? %>
          <%= link_to (@user.linkedin_url.starts_with?("http") ? @user.linkedin_url : "https://#{@user.linkedin_url}"), target: "_blank", rel: "noopener" do %>
              <i class="fa-brands fa-linkedin"></i>
              <p>Linkedin</p>
          <% end %>
        <% end %>
      </div>
      <div class="social-icon">
        <% if @user.twitter_url.present? %>
          <%= link_to (@user.twitter_url.starts_with?("http") ? @user.twitter_url : "https://#{@user.twitter_url}"), target: "_blank", rel: "noopener" do %>
            <i class="fa-brands fa-square-x-twitter"></i>
            <p>Twitter</p>
          <% end %>
        <% end %>
      </div>
      </div>
    </div>
    <div class="contact-user">
      <h4>Contact</h4>
      <p><%= @user.email %></p>
      <% if @user.contact_info.present? %>
        <p>
          <% (@user.contact_info || '').split(/[., ;]/).select{|contact| contact != ""}.each do |contact| %>
                <span class="pill skills"><%= contact.strip %></span>
          <% end %>
        </p>
      <% end %>
    </div>
    </div>
  </div>
</div>
