<h3><%= link_to "Go to homepage", "/" %></h3>
<h1>My Details</h1>

<h1>Welcome, <%= @users.first_name%> <%= @users.last_name %></h1>
<% if @users.employer%>
<h3>Role: employer</h3>
<%else%>
<h3>Role: Student</h3>
<%end%>
  <h3><%=@users.first_name%></h3>
  <h3><%=@users.last_name%></h3>
  <h3><%=@users.email%></h3>
  <%= cl_image_tag @users.photo.key%>
  <%= @users.skills%>
