
<h4><%= link_to "Go to back", "/" %></h4>

<div class="profile-pic">

<h1>My Profile</h1>

<%= cl_image_tag @user.photo.key, class:"image",  height: 300, width: 300, crop: :fill if @user.photo.present? %>
</div>
<div class="content">

<% if @user.employer%>
  <p>Role: employer</p>
<%else%>
  <p>Role: Student</p>


  <p>First Name: <%=@user.first_name%></p>
  <p>Last Name: <%=@user.last_name%></p>
  <p>Email: <%=@user.email%></p>

<%end%>

</div>
