<nav>
  <div class="nav-bar container">

      <%= link_to root_path do %>
        <%= image_tag("logo.svg", class: "logo") %>
      <%end%>
    <% if user_signed_in? %>
      <div class="menu-items">
        <ul>


          <% if !current_user.employer %>
            <li><%= link_to "Projects", projects_path %></li>
            <li class = "overflow-visible"><turbo-frame id="notifications">
                  <%= render "shared/notification_icon" %>
                </turbo-frame>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <% if current_user.photo.attached? %>
                  <%= cl_image_tag current_user.photo.key, class: "avatar", alt: "dropdown menu" %>
                <% else %>
                <%= image_tag"avatar.svg", class: "avatar", alt: "dropdown menu"%>
                <% end %>
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "My profile", user_path(current_user), class: "dropdown-item" %>
                <%= link_to "My applications", applications_path(current_user), class: "dropdown-item" %>
                <%= link_to "Saved jobs", saved_projects_path(current_user), class: "dropdown-item" %>
                <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item btn btn-link p-0 border-0", style: "background: none; text-decoration: none;" %>
              </div>
            </li>
          <% else %>
            <li><%= link_to " Post Projects", new_project_path %></li>
            <li class = "overflow-visible">
              <turbo-frame id="notifications">
                <%= render "shared/notification_icon" %>
              </turbo-frame>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.photo.attached?  %>
                <%= cl_image_tag current_user.photo.key, class: "avatar", alt: "dropdown menu" %>
              <% else %>
                <%= image_tag "find_project.png", class: "avatar", alt: "dropdown menu" %>
              <% end %>
              </a>

              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "My Dashboard", dashboard_path, class: "dropdown-item" %>
                <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item btn btn-link p-0 border-0", style: "background: none; text-decoration: none;" %>
              </div>
            </li>
          <% end %>
          </ul>
        </div>
      <% else %>
        <div class="menu-items">
          <ul>
            <li><%= link_to "Projects", projects_path %></li>
            <li><%= link_to "Login", new_user_session_path, class: "btn btn-primary" %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </nav>
<%= turbo_stream_from "notifications_#{current_user&.id}" %>
