<% # hero section %>
<div class="hero-banner" >
  <div class="hero-info">
   <span class="pill">Connecting talent with opportunity</span>
    <h1>SkillBridge Where Talents Meet Start-up.</h1>
    <p class="tagline m-1">Bridges the gap between ambitious individual seeking real-world experience and startups looking for fresh talent.</p>
    <p><%= link_to "Get Started", projects_path, class: "btn btn-primary mt-4" %></p>
  </div>
</div>
<% if user_signed_in? %>
  <% if !current_user.employer %>
    <% # Student section %>
      <%= render "student_home_section" %>
  <% else %>
    <% # employer section %>
      <%= render "employer_home_section" %>
  <% end %>
<% else %>
    <% # Student section %>
      <%= render "student_home_section" %>
    <% # employer section %>
      <%= render "employer_home_section" %>
<% end %>
<% # featured projects %>

<div class="featured container w-75">
  <h2>Featured Projects</h2>
<div class="column-grid">
<% @projects.each do |project| %>
    <div class="featured-card">
      <div class="featured-top">
        <h4><%= project.project_title %></h4>
        <span class="pill"><%= project.duration %></span>
      </div>
      <p class="company-info"> <%= project.company_name %> | <span><%= project.location %></span></p>
      <p class="project-brief"><%= project.project_description.truncate(50) %></p>
        <div class="skills-info">
          <% project.requirements.split(',').sample(rand(2..3)).each do |skill| %>
            <span class="pill skills"><%= skill.strip %></span>
          <% end %>
        </div>
      <p class="bottom-button"><%= link_to "View more", project_path(project), class: "btn btn-secondary mt-3" %></p>
    </div>
<% end %>
    </div>
  </div>
</div>

<% # Review section %>
<div class="review ">
  <div class="rew-sec">
    <h2>Success Story</h2>
  <div class="column-grid container w-75">
    <% @feedbacks.each do |feedback| %>
    <div class="feedback-card">
      <span><%= image_tag("quote.svg")%></span>
      <p class="review-comment"><%= feedback.comment %></p>
      <div class="info">
          <span><%= cl_image_tag feedback.application.user.photo.key %></span>
        <div class="project-info">
          <p class="user-name"><%= feedback.application.user.first_name %></p>
          <p class="project-title"><%= feedback.application.project.job_title %></p>
        </div>
      </div>
      <p class="rating"> <%= "â­" * feedback.rating %> </p>
    </div>
  <% end %>
  </div>
  </div>
</div>

<%# bottom CTA %>
<%if  !user_signed_in? %>
  <div class="bottom-cta">
    <h2>Ready to start your journey</h2>
    <p>Whether you are looking to gain experience or find talent, SkillBridge is your bridge to meaningful opportunities.</p>
    <div class="cat-button m-3">
      <span> <%= link_to "Start as Candidate", new_user_registration_path, class:"btn btn-candidate" %></span>
      <span><%= link_to "Start as Employer", new_user_registration_path,  class:"btn btn-secondary"%></span>
    </div>
  </div>
<% end %>
