<h2>Applicantons on <%= @project.project_title %></h2>
<% @applicants.each do |applicant| %>
  <p><%= cl_image_tag("applicant.user.photo") %></p>
  <p><%= applicant.user.first_name %></p>
  <p><%= applicant.user.last_name %></p>
  <p><%= applicant.user.email %></p>
  <div class="skills-info">
    <% (applicant.user.skills || '').split(',').each do |skill| %>
      <span class="pill skills"><%= skill.strip %></span>
    <% end %>
  </div>
<% end %>
