<h2>Applicantons on <%= @project.project_title %></h2>
<% @applicants.each do |applicant| %>
  <p><%= cl_image_tag("applicant.user.photo") %></p>
  <p><%= applicant.user.first_name %></p>
  <p><%= applicant.user.last_name %></p>
  <p><%= applicant.user.email %></p>
  <div class="skills-info">
    <% (applicant.user.skills || '').split(',').each do |skill| %>
      <span class="pill skills"><%= skill.strip %></span>
    <% end %>
  </div>
  <% if applicant.user.cv.attached? %>
     <%= link_to "Download CV", rails_blob_path(applicant.user.cv, disposition: "attachment"), target: "_blank", download: true%>
    <% else %>
    <h2>NO CV attached.</h2>
  <% end %>
<% end %>
