<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold">We’d love your feedback on <span class="text-primary">SkillBridge</span></h5>


        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="mb-3">Your feedback helps us improve the experience for everyone. Please share your thoughts about the application or hiring process.</p>

        <%= form_with model: [application, Feedback.new], local: true do |form| %>
          <div>
            <strong><%= form.label :comment %>:</strong>
            <br>
            <%= form.text_area :comment, class: "form-control w-100", rows: 4, placeholder: "Write your feedback here..." %>
          </div>

          <div class="heading"><strong>Rating:</strong></div>
          <div class="form-group rating-stars mb-3">
            <div class="stars">
              <% 5.downto(1) do |i| %>
                <%= form.radio_button :rating, i, id: "star#{i}" %>
                <label for="star<%= i %>" title="<%= i %> stars">&#9733;</label>
              <% end %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <%= form.submit "Add Feedback", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
      <%# <div class="modal-footer">
        <button type="button" class="btn btn-primary">Add Feedback</button> %>

    </div>
  </div>
</div>
